<div class="post-preview__taxonomy">
	{% set findPrimaryCategory = post._yoast_wpseo_primary_category %}

	{% if findPrimaryCategory %}

		{% for category in post.terms('category') if category.id == findPrimaryCategory %}

			<a class="taxonomy-meta__title" href="{{ category.link | e('esc_url') }}">
				{{ category.name | e('esc_html') }}
			</a>


		{% endfor %}

	{% else %}

	    {% for category in post.terms('category') %}
			   
			    {% if loop.first %}

			        <a class="taxonomy-meta__title" href="{{ category.link | e('esc_url') }}">
						{{ category.name | e('esc_html') }}
					</a>
			        
			    {% endif %}

		{% endfor %}

	{% endif %}
</div>