{# {{post.title}} #}
<div class="related-content__block related-content__block--{{loop.index}}">

	<div class="related-content__inner">

		{% if loop.index == 1 %}
			<img data-interchange="[{{ post.thumbnail.src|resize(768,360) }}, small], [{{ post.thumbnail.src|resize(940,360) }}, medium]" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.title}}">
		{% elseif loop.index == 2 %}
			<img data-interchange="[{{ post.thumbnail.src|resize(768,360) }}, small], [{{ post.thumbnail.src|resize(460,360) }}, medium], [{{ post.thumbnail.src|resize(300,360) }}, large]" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.title}}">
		{% else %}
			<img data-interchange="[{{ post.thumbnail.src|resize(768,360) }}, small], [{{ post.thumbnail.src|resize(460,360) }}, medium], [{{ post.thumbnail.src|resize(620,360) }}, large]" alt="{{post.thumbnail.alt}}" title="{{post.thumbnail.title}}">
		{% endif %}

		<div class="related-content__info">
			<div class="related-content__content">
				{% include 'partials/post-taxonomy-meta.twig' %}
				<h2>
					<a href="{{post.link}}">
						{{ post.title | truncate(12) }}
					</a>
				</h2>
				<span>
					{% autoescape %}By {% endautoescape %}{{post.author.first_name}} {{post.author.last_name}}
				</span>
			</div>
		</div>

	</div>

</div>
