{% extends "base.twig" %}

{% block content %}


	<main class="single-layout single-layout--author">   

        {% include "blocks/content.twig" %}

        <div class="entry-content">
            {# flexable content #}
            {% for content_block in author.get_field('content_blocks') %}

                {% if content_block.acf_fc_layout == 'text_editor' %}

                    {% include "partials/single/text-editor.twig" %}

                {% elseif content_block.acf_fc_layout == 'full_width_image' %}

                    {% include "partials/single/full-width-image.twig" %}

                {% elseif content_block.acf_fc_layout == 'image_left__pull_quote_right' %}

                    {% include "partials/single/image-left-pullquote-right.twig" %}

                {% elseif content_block.acf_fc_layout == 'slider' %}

                    {% include "partials/single/slider.twig" %}

                {% elseif content_block.acf_fc_layout == 'video' %}

                    {% include "partials/single/video.twig" %}

                {% endif %}

            {% endfor %}
            {# end flexable content #}
        </div>
        

        <section class="related-content">
            <h2 class="related-content__title">
                {% autoescape %}
                    Articles By This Author
                {% endautoescape %}
            </h2>
            {#
            {% for postGroup in posts|batch(3) %}
                <div class="row">
                    {% for post in postGroup %}
                        
                        {% include "partials/related-posts.twig" %}

                    {% endfor %}
                </div>
            {% endfor %}
            #}
            <div class="row">
                {% for post in posts%}
                    {% if loop.index < 4 %}
                        {% include "partials/related-posts.twig" %}      
                    {% endif %}

                {% endfor %}
            </div>
        </section>
	</main>

{% endblock %}