{% extends "base.twig" %}

{% block content %}


	<main class="blog-archive-layout" data-js="blog">   

		<section class="search-container search-container--blog show-for-medium">
			<div class="column">
				{{ function('get_search_form') }}
			</div>
		</section>

		<section class="blog-archive-layout__content" data-js="append-content">
			{% for post in posts %}

				{% include "blocks/content.twig" with {post: post}  %}

			{% endfor %}
		</section>

		<section class="blog-archive-layout__more text-center">
			<button id="data-parameters" class="button-type button-type--more ladda-button" data-style="expand-right" data-action="more_all_posts" data-posts_per_page="5" data-pageCount="2" {% if fn('is_category') %}data-cat="{{cat_id}}"{% endif %} {% if( function('is_author') or  function('is_home') or function('is_category') ) %} data-position="author_home_cat"{% endif %} {% if ( function('is_author')) %} data-author="true" {% endif %}>
				{% autoescape %}
					Load More
				{% endautoescape %}
			</button>
			
		</section>

		<section class="related-content">
			<h2 class="related-content__title">
				{% autoescape %}
					Popular Posts
				{% endautoescape %}
			</h2>
			<div class="row">
				{% for post in fancySquaresPopularPosts %}
				
					{% include "partials/related-posts.twig" %}

				{% endfor %}
			</div>
		</section>

	</main>

{% endblock %}