{% extends "base.twig" %}

{% block content %}

	<main class="blog-archive-layout"> 

{# 	    {{posts|length}} #}

	        <section class="search-container search-container--search">
				<div class="column">
				    {% if posts|length == 0 %}
				        <h2>
				        	{% autoescape %}
				        		Sorry, no results were found
				        	{% endautoescape %}
				        </h2>
				    {% endif %}
					{{ function('get_search_form') }}
				</div>
			</section>
		
		<section id="append-content" class="">

			{% for post in posts %}
	
				{% include "blocks/content-search.twig" with {post: post}  %}
	
			{% endfor %}

		</section>
				
		{% if(next_page) %}
			<section class="blog-archive-layout__more text-center">
				<button id="load-more-search" class="button-type button-type--more ladda-button" data-style="expand-right" data-action="more_all_posts" data-posts_per_page="5" data-pageCount="2" data-query="{{ search }}">
					{% autoescape %}
						Load More
					{% endautoescape %}
				</button>

			</section>
		{% endif %}




		<section class="related-content">
			<h2 class="related-content__title">
				{% autoescape %}
					Popular Posts
				{% endautoescape %}
			</h2>
			<div class="row">
				{% for post in fancySquaresPopularPosts %}
				
					{% include "partials/related-posts.twig" %}

				{% endfor %}
			</div>
		</section>

	</main>

    

{% endblock %}