{% extends "base.twig" %}

{% block content %}

  
{#     
    {{ fn('fancySquares_set_post_views',fn('get_the_ID')) }} 
    {{ fn('fancySquares_get_post_views', fn('get_the_ID')) }}
#}

    <main class="single-layout">

        {% for post in posts %}
            <div {{ function('post_class') }}>
                
                {% include "blocks/content.twig" with {post: post}  %}


                <div class="entry-content">
                    {# flexable content #}
                    {% for content_block in post.get_field('content_blocks') %}

                        {% set sectionID = loop.index %}

                        {% if content_block.acf_fc_layout == 'text_editor' %}

                            {% include "partials/single/text-editor.twig" %}

                        {% elseif content_block.acf_fc_layout == 'full_width_image' %}

                            {% include "partials/single/full-width-image.twig" %}

                        {% elseif content_block.acf_fc_layout == 'image_left__pull_quote_right' %}

                            {% include "partials/single/image-left-pullquote-right.twig" %}

                        {% elseif content_block.acf_fc_layout == 'slider' %}

                            {% include "partials/single/slider.twig" %}

                        {% elseif content_block.acf_fc_layout == 'video' %}

                            {% include "partials/single/video.twig" %}

                        {% endif %}

                    {% endfor %}
                    {# end flexable content #}
                </div>

            </div>
            

        {% endfor %}
        
        <section class="related-content">
            <h2 class="related-content__title">
                {% autoescape %}
                    More Like This
                {% endautoescape %}
            </h2>

            <div class="row">
                {% for relatedPost in fancySquaresRelatedPosts %}
                
                    {% include "partials/related-posts.twig" with {post: relatedPost} %}      

                {% endfor %}
            </div>
        </section>

    </main>


{% endblock %}