{% set imageArray = TimberImage(content_block.image) %}

<div class="single-layout__image {% if imageArray.caption %}single-layout__image--caption{% endif %}">
    <img src="{{imageArray.src}}" alt="{{imageArray.alt}}" title="{{imageArray.title}}"/>

    {% if imageArray.caption %}
        <div class="single-layout__image-caption column medium-10 medium-offset-1">
            <span>
                {{imageArray.caption}}
            </span>
        </div>
    {% endif %}
</div>