{% set imageArray = TimberImage(content_block.image_left) %}

<div class="single-layout__image-quote align-middle">

    <div class="column small-12 medium-7">
        <img src="{{imageArray.src}}" alt="{{imageArray.alt}}" title="{{imageArray.title}}"/>

        {% if imageArray.caption %}
            <div class="single-layout__image-caption column medium-10 medium-offset-1">
                <span>
                    {{imageArray.caption}}
                </span>
            </div>
        {% endif %}
    </div>

    <div class="column">
        <h2>
            {{content_block.pull_quote | e('esc_html')}}
        </h2>
    </div>

</div>