<div class="single-layout__slider">
    
    <div id="slider-{{sectionID}}" class="flexslider">
        <ul class="slides">
            {% for slide in content_block.slides %}
                {% set sliderImage = TimberImage(slide.image) %}
                <li>
                    <img src="{{sliderImage.src}}" alt="{{sliderImage.alt}}" title="{{sliderImage.title}}"/>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div id="carousel-{{sectionID}}" class="flexslider">
        <ul class="slides">
            {% for slide in content_block.slides %}
                {% set sliderImage = TimberImage(slide.image) %}
                <li>
                        <img src="{{sliderImage.src|resize(203,145)}}" alt="{{sliderImage.alt}}" title="{{sliderImage.title}}"/>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>