<div class="single-layout__video column small-12">
	<div class="video-wrapper">
		<video width="640" height="360" style="width:100%;height:100%;" poster="{{TimberImage(content_block.video_still).src|e('esc_url')}}" controls="controls" preload="none">     
			<source src="{{content_block.video_url|e('esc_url')}}" type="video/youtube" />
		</video>
	</div>
</div>