<article class="post-preview post-preview--search">

	<div class="post-preview__img-con post-preview__img-con--no-psuedo">

		<img src="{{ post.thumbnail.src|resize(940,360) }}" class="post-preview__img" alt="{{post.thumbnail.alt}}" />

	</div>

    
	<div class="post-preview__content post-preview__content--search">

	    <header>

	    	{% include 'partials/post-taxonomy-meta.twig' %}

	        <h2 class="post-preview__title">
	        	<a href="{{ post.link }}">
        			{{ post.title | truncate(11) }}
	        	</a>
	        </h2>

	        <span class="post-preview__search-byline">
	        	{% autoescape %}By {% endautoescape %}{{post.author.first_name}} {{post.author.last_name}} 
	        </span>

	    </header>

	</div>

</article>