{% set isAuthor = function('is_author') %}
{% set isHome = function('is_home') %}
{% set isCat = function('is_category') %}
{% set isAuthorHomeCat = 0 %}
{% set isAuthorData = 0 %}
{% if position == 'author_home_cat' %}
	{% set isAuthorHomeCat = 1 %}
{% endif %}
{% if position == 'author' %}
	{% set isAuthorData = 1 %}
{% endif %}

{% if ((loop.index is defined and loop.index is even) or (ajaxloop is defined and ajaxloop is even)) %}

	{% set alignRight = 'align-right' %}

{% endif %}

<article class="post-preview post-preview--blog {{alignRight}}">

	<div class="post-preview__img-con">

		{% if (isAuthor) %}
			{% set authorHeaderImg = TimberImage(author.get_field('image_header_user')) %}
			<img src="{{authorHeaderImg}}" class="post-preview__img" alt="{{authorHeaderImg.alt}}" />
		{% else %}
			<img src="{{ post.thumbnail.src }}" class="post-preview__img" alt="{{post.thumbnail.alt}}" />
		{% endif %}

	</div>

    
	<div class="post-preview__content {% if (isHome) or (isCat) or (isAuthorHomeCat) %}post-preview__content--archive align-self-middle medium-offset-1{% elseif ( isAuthor or isAuthorData ) %}post-preview__content--author{% else %}post-preview__content--single{% endif %}">

	    <header>

	    	{% if not (isAuthor)%}
	    		{% include 'partials/post-taxonomy-meta.twig' %}
    		{% else %}
	    		<div class="post-preview__taxonomy">
	    			<a href="{{arthur.link}}">
	    				{% autoescape %}About the author{% endautoescape %}
	    			</a>
	    		</div>	    
    		{% endif %}

	        <h2 class="post-preview__title">
	        	<a href="{{ post.link }}">
	        		{% if not ( isAuthor) %}
	        			{{ post.title | e('esc_html') }}
        			{% else %}
	    			  {{author.first_name}} {{author.last_name}}  
		    		{% endif %}

	        	</a>
	        </h2>

	        {% if not ( isAuthor ) %}
	        	{% include "blocks/entry-meta.twig" %}
        	{% endif %}
	    </header>
	    {% if (isHome) or (isCat) or (isAuthorHomeCat) %}
		    <a href="{{post.link}}" class="button-type button-type--more">
		    	{% autoescape %}Read More{% endautoescape %}
		    </a>
		{% else %}
			{% filter shortcodes %}
			    [addtoany]
			{% endfilter %}
		{% endif %}

	</div>

</article>