<div class="post-preview__meta">
	<p class="byline author vcard">
		
		<a href="{{ post.author.path }}" rel="author" class="fn">
			<span class="post-preview__avatar" style="background-image: url({{ post.author.avatar}})">
			</span>
				
			<span class="post-preview__author-name">
				{{  __('By', 'fancysquares') }} {{ post.author.first_name }} {{ post.author.last_name }} <br/>

				<time class="updated" datetime="post.post_date|date(c)">
					{{ post.post_date|date }}
				</time>
			</span>
			{# {{ post.author | print_r}} #}
		</a>
	</p>
</div>