<div class="header__top-bar-left column show-for-medium">
    <ul class="menu header__menu">
        <li class="home">
            <a class="header__logo" href="{{ site.url }}">
            	{{ site.name }}
            	{#<img src="{{ theme.link }}/public/images/temp-logo.png" alt="{{ site.name }}">#}
            </a>
        </li>
    </ul>
</div>