.button-type {

	&--more {
		@extend %font-read-more;
		background-color: $off-white;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  		border: solid 1px rgba(0, 0, 0, 0.1);
  		text-align: center;
	    transition: background-color .25s ease-out, color .25s ease-out;
	    display: inline-block;
	    line-height: 34px;
    	padding: 0 47px;
    	&:hover {
    		color: $white;
    		background-color: $brand-navy;
    	}
	}

	&--loading {
		color: $white;
		background-color: $brand-navy;
	}

}