// Search form
.search-form {

}
.search-form label {
    font-weight: normal;
}
.search-form .search-field {
}
.search-form .search-submit {
    @extend .button;
}
form {
	.gform_validation_container {
		display: none;
	}
	
	.gfield_error {
		.validation_message {
			@extend .form-error;
			display: inherit;
			margin-top: 1rem;
		}
	}
	.gform_fields {
		margin-left: 0;
		.gfield {
			list-style: none;
			margin-bottom: rem-calc(30);
		}
	}

	.gform_body {
		input,
		textarea {
			//font-styling
			color: $black;
			border: 1px solid $black;
			box-shadow: none;
			margin-bottom: 0;
			background: none;
			height: auto;
			padding: rem-calc(15);
			@include placeholder {
				color: $black;
			}
		}
	}

	.gform_footer {
		text-align: center;
		.gform_button {
			//font-styling
			background: none;
			padding: 0;
			appearance:none;
			padding: 0.9375rem 3.75rem;
			&:hover {
				background:none;
			}
		}
	}

	.chosen-container-single {
		.chosen-single {
			//font-styling
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
	.chosen-container-multi {
		//font-styling
		.chosen-choices {
			color: $black;
			border: 1px solid $black;
			background: none;
			border-radius: 0;
		    padding: 8px 11px;
		    height: 41px;
		}
	}
}

/*#gform_confirmation_wrapper_1 {

}*/

body img.gform_ajax_spinner {
    display: none!important;
}

.search-container {

	@include flex-grid-row( $size: 950px);

	.search-form {
		width: 100%;
		position: relative;
	}
	.screen-reader-text {
		display: none;
	}
	label {
		position: relative;
		z-index: 0;
	}
	.search-submit {
		background-image: url(../images/search-icon.png);
		background-size: 16px;
		background-position: center;
		background-repeat: no-repeat;
		background-color: transparent;
		margin:0;
		position: absolute;
		right:0;
		top: 0;
	    z-index: 1;
		padding: 11.5px;
		font-size: 0;
		height: 100%;
		width: 50px;
		opacity: .5;
		transition: opacity .35s ease-out;
		&:hover {
			background-color: transparent;
			opacity: 1;
		}
	}
	.search-field {
		color: $black;
		background-color: rgba(255,255,255,.6);
		margin-bottom: 0;
		border: none;
		box-shadow: none;
		@include placeholder(){
			color: $black;
		}
	}

	&--blog {
		position: absolute;
		z-index: 99;
		top: 45px;
		left:0;
		right:0;
		margin:auto;
		width: 100%;
	}

	&--search {
		margin-top: 30px;
		margin-bottom: 50px;
		position: relative;
	}
}