.post-preview {
	@include flex-grid-row($size: rem-calc(1440))
	/*max-width: 1440px;*/

	&__content {
		position: relative;
		z-index: 1;
		@include breakpoint(small only){
			background-color: $white;
			padding-top: 15px;
			padding-bottom: 15px;
			a,* {
				color: $black;
			}
		}
		header {
			margin-bottom: 25px;
			a {
				&:hover {
					color: $brand-navy;
				}
			}
		}
		&--archive {
			@include flex-grid-column(12);
			@include breakpoint(medium){
				@include flex-grid-column(9);
				/*width: : 600px;*/
			}
			@include breakpoint(large){
				@include flex-grid-column(7);
				/*width: : 600px;*/
			}
			@include breakpoint(xlarge){
				@include flex-grid-column(5);
				/*width: : 600px;*/
			}
		}
		&--single {
			@include flex-grid-column(12);
		}
		&--author {
			@include flex-grid-column(12);
		}

		&--white {
			
		}

		&--search {
			@include breakpoint(small only){
				width: 100%;
			}
			@include breakpoint(medium){
				position: absolute;
				height: 90%;
				top: 0;
				bottom: 0;
				margin: auto;
				max-width: 350px;
				width: 100%;
				right: 15px;
			}
			@include breakpoint(large){
				max-width: 300px;
				right: 20px;
			}
			&:before {
				@include breakpoint(medium){
					background-color: rgba(255, 255, 255, 0.9);
					content: '';
					display: block;
					position: absolute;
					left:0;
					top:0;
					width: 100%;
					height: 100%;
				}
			}
			header {
				position: relative;
				z-index: 1;
				margin-bottom: 0;
				@include breakpoint(small only){
					background-color: $white;
					padding: 15px;
					width: 100%;
				}
				@include breakpoint(medium){
					@include centerer;
					width: 100%;
					padding: 15px 30px;
				}
			}
		}
	}

	&__img-con {
		&:before {
			@include breakpoint(medium){
				background-color: $black;
				opacity: .5;
				content: '';
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
			}
		}
		img {
			position: relative;
			z-index: 0;
		}

		&--no-psuedo {
			position: relative;
			z-index: 0;
			&:before {
				display:none;
			}
		}
	}

	&__taxonomy {
		@include breakpoint(small only){
			margin-bottom: 10px;
		}
		a {
			@extend %font-taxonomy-preview;
		}
	}

	&__title {
		line-height: 1;
		margin-bottom: 10px;
		a {
			@extend %font-h1;
			display: block;
		}
	}

	&__meta {
		* {
			@extend %font-author-meta;
			margin: 0;
		}
	}

	&__avatar {
		display: inline-block;
		height: 35px;
		width: 35px;
		background-size: cover;
		background-position: center;
		vertical-align: middle;
		border-radius: 50%;
		margin-right: 5px;
	}
	&__author-name {
		display: inline-block;
		vertical-align: middle;
	}
	&__search-byline {
		@extend %font-search-byline;
	}

	/*default blog, archive, category etc*/
	&--blog {
		position: relative;

		@include breakpoint(medium){
			overflow: hidden;
			height: 500px;
		}
		@include breakpoint(large){
			height: 580px;
		}
		@include breakpoint(xlarge){
			height: 680px;
		}

		.post-preview__img-con {
			width: 100%;
			@include breakpoint(medium){
				@include centerer;
				z-index: 0;
				min-width: 1440px;
			}
		}

		&.align-right {
		    .post-preview__content {
			    @include breakpoint(medium){
					margin-right: 8.33333%;
					margin-left: 0;
					text-align: right;
				}	
			}
			.post-preview__avatar {
				@include breakpoint(medium){
					float: right;
					margin: 0 0 0 5px;
				}
			}
			.post-preview__author-name {
				@include breakpoint(medium){
					margin-top: 5px;
				}
			}
		}
	}

	&--search {
		@include flex-grid-row($size: rem-calc(940));
		position: relative;
		margin-bottom: 60px;
		
		img {
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		}

		.taxonomy-meta__title {
			color: $brand-navy;
		}

		.post-preview__title {
			margin-bottom: 0;
			a {
				@extend %font-search-h2;
				text-transform: none;
			}
		}
	}


}