.related-content {
	@include flex-grid-row();
	max-width: 970px;
	margin-bottom: 20px;
	&__title {
		@extend %font-h1;
		color: $black;
		text-align: center;
		padding: 0 10px;
		width: 100%;
		margin-bottom: 40px;
	}
	&__inner {
		position: relative;
		overflow: hidden;
	}
	&__info {
		background-color: rgba(255, 255, 255, 0.8);
		position: absolute;
		top: 0;
		right: 30px;
		bottom: 0;
		text-align: left;
		width: 300px;
		height: 300px;
		margin: auto;
		@include breakpoint(small only){
			background-color: $white;
			position: relative;
			right: auto;
			width: 100%;
			height: auto;
			padding: 15px;
		}
	}
	&__content {
		@include breakpoint(medium){
			@include centerer;
			width: 100%;
			max-width: 240px;
		}
	}
	.row {
		margin-bottom: 20px;
		> div {

			&:first-child {
				@include flex-grid-column(12);
				margin-bottom: 20px;
			}
			&:nth-child(2){
				@include flex-grid-column(12);
				@include breakpoint(small only){
					margin-bottom: 20px;
				}
				@include breakpoint(medium){
					@include flex-grid-column(6);
					padding-right: 10px !important;
					.related-content__info {
						left: 0;
						right: auto;
						height: 100%;
						width: 100%;
					}
				}
				@include breakpoint(large){
					@include flex-grid-column(4);
					padding-right: 8px !important;	
				}
			}
			&:nth-child(3){
				@include flex-grid-column();
				text-align: right;
				@include breakpoint(medium){
					padding-left: 10px !important;

				}
			}
		}
	}
	img {
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
		position: relative;
		z-index: 0;
	}
	h2 {
		line-height: 1;
		a {
			@extend %font-related-title;
			display: block;
		}
	}
	.taxonomy-meta__title {
		@extend %font-read-more;
		color: $black;
		font-weight: bold;
	}
	span {
		@extend %font-author-meta;
		color: $brand-light-gray;
		text-transform: none;
	}
}