//fonts go here
@font-face {
	font-family: "Avenir Next";
	src: url("../fonts/Avenir_Next_W00_400.eot?#iefix");
	src: url("../fonts/Avenir_Next_W00_400.eot?#iefix") format("eot"), 
		url("../fonts/Avenir_Next_W00_400.woff2") format("woff2"), 
		url("../fonts/Avenir_Next_W00_400.woff") format("woff"), 
		url("../fonts/Avenir_Next_W00_400.ttf") format("truetype"), 
		url("../fonts/Avenir_Next_W00_400.svg") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next i";
	src: url("../fonts/Avenir_Next_W00_Italic_400.eot?#iefix");
	src: url("../fonts/Avenir_Next_W00_Italic_400.eot?#iefix") format("eot"), 
		url("../fonts/Avenir_Next_W00_Italic_400.woff2") format("woff2"), 
		url("../fonts/Avenir_Next_W00_Italic_400.woff") format("woff"), 
		url("../fonts/Avenir_Next_W00_Italic_400.ttf") format("truetype"), 
		url("../fonts/Avenir_Next_W00_Italic_400.svg") format("svg");
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Avenir Next Med";
	src: url("../fonts/Avenir_Next_W00_600.eot?#iefix");
	src: url("../fonts/Avenir_Next_W00_600.eot?#iefix") format("eot"), 
		url("../fonts/Avenir_Next_W00_600.woff2") format("woff2"), 
		url("../fonts/Avenir_Next_W00_600.woff") format("woff"), 
		url("../fonts/Avenir_Next_W00_600.ttf") format("truetype"), 
		url("../fonts/Avenir_Next_W00_600.svg") format("svg");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Avenir Next Med i";
	src: url("../fonts/Avenir_Next_W00_Italic_600.eot?#iefix");
	src: url("../fonts/Avenir_Next_W00_Italic_600.eot?#iefix") format("eot"), 
		url("../fonts/Avenir_Next_W00_Italic_600.woff2") format("woff2"), 
		url("../fonts/Avenir_Next_W00_Italic_600.woff") format("woff"), 
		url("../fonts/Avenir_Next_W00_Italic_600.ttf") format("truetype"), 
		url("../fonts/Avenir_Next_W00_Italic_600.svg") format("svg");
	font-weight: 600;
	font-style: italic;
}

@font-face {
    font-family: 'Georgia';
    src: url('../fonts/Georgia.eot');
    src: url('../fonts/Georgia.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Georgia.woff2') format('woff2'),
        url('../fonts/Georgia.woff') format('woff'),
        url('../fonts/Georgia.ttf') format('truetype'),
        url('../fonts/Georgia.svg#Georgia') format('svg');
    font-weight: normal;
    font-style: normal;
}

%font-logo {
	color: $white;
	font-family: 'Georgia';
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 5px;
}

%font-nav-link {
	color: $white;
	font-family: "Avenir Next";
	font-size: rem-calc(12);
	font-weight: 600;
	letter-spacing: 2.7px;
	text-transform: uppercase;
}

%font-h1 {
	color: $white;
	font-family: "Avenir Next";
	font-size: rem-calc(36);
	line-height: 1.22;
	letter-spacing: 6.9px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	@include breakpoint(small only){
		font-size: rem-calc(28);
		line-height: 1.1;
		letter-spacing: 3px;
	}
}

%font-h2 {
	color: $brand-navy;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: rem-calc(24);
	font-style: italic;
	font-weight: bold;
	line-height: 1.33;
	text-align: left;
	margin-bottom: 20px;
}

%font-taxonomy-preview {
	color: $white;
	font-family: "Avenir Next Med";
	font-weight: 600;
	font-style: normal;
	font-size: rem-calc(16);
	line-height: 1.63;
	letter-spacing: 0.2px;
	text-transform: uppercase;
}

%font-author-meta {
	color: $white;
	font-family: "Avenir Next Med";
	font-weight: 600;
	font-style: normal;
	font-size: rem-calc(10);
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
}

%font-read-more {
	color: $brand-navy;
	font-family: "Avenir Next Med";
	font-size: rem-calc(14);
	font-weight: 400;
	font-style: normal;
	line-height: 1.86;
	letter-spacing: 0.2px;
}

%font-pull-quote {
	color: $brand-navy;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: rem-calc(28);
	font-style: italic;
	font-weight: normal;
	line-height: 48px;
	text-align: left;
}

%font-body-copy {
	color: $brand-navy;
	font-family: "Avenir Next";
	font-size: rem-calc(16);
}

%font-search-h2 {
	color: $brand-navy;
	font-family: Georgia, Times, "Times New Roman", serif;
  	font-style: italic;
  	font-weight: normal;
  	font-size: rem-calc(22);
  	line-height: 1.45;
  	letter-spacing: 1px;
}

%font-search-byline {
	color: $brand-light-gray;
	font-family: "Avenir Next i";
	font-size: rem-calc(10);
	font-style: italic;
	font-weight: 400;
  	line-height: 1.4;
}

%font-related-title {
	color: $brand-navy;
	font-family: Georgia, Times, "Times New Roman", serif;
  	font-style: italic;
  	font-weight: normal;
	font-size: rem-calc(22);
	line-height: 1.45;
	letter-spacing: normal;
}

body {
	@extend %font-body-copy;
	p {
		@extend %font-body-copy;
		strong,b {
			font-weight: 600;
		}
	}
}