// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #27ae60;
$off-white: #f1f4f8;
$brand-navy: #354052;
$brand-gray: #ebebeb;
$brand-dark: #34393d;
$brand-light-gray: #7f8fa4;