.blog-archive-layout {
	position: relative;
	&__more {
		padding: 75px 0 100px;
		button {
			cursor: pointer;
		}
	}

	&__content {
		article {
			@include breakpoint(small only){
				margin-bottom: 50px;
			}
		}
	}
}