.no-js {
    @include breakpoint(small only) {
        .top-bar {
            display: none;
        }
    }

    @include breakpoint(medium) {
        .title-bar {
            display: none;
        }
    }
}


.header {

    

    &--main{
        background-color: $brand-dark;
        @include breakpoint(medium){
            padding: 8px 0;
        }
        .header__title-bar {
            @extend .title-bar;
        }

        .header__title-bar-title {
            @extend .title-bar-title;
        }

        .header__top-bar {
            @include flex-grid-row();
            width: 100%;
            max-width: 1470px;
            margin: 0 auto;
            background-color: transparent;
            ul {
                background-color: transparent;
            }
            
            .brand {
                padding: 0;
            }
        }
        .header__logo {
            @extend %font-logo;
        }

        .header__top-bar-left {
            @extend .top-bar-left;
            padding-right: 100px;
        }

        .header__top-bar-right {
            @extend .top-bar-right;
            @include breakpoint(small only){
                padding: 0;
            }
            a {
                @extend %font-nav-link;
                transition: color .35s ease-out;
                &:hover {
                    color: $black;
                }
            }
            li {
                @include breakpoint(small only){
                    display: block;
                    width: 100%;
                }
            }
        }

        .header__dropdown-menu {
            @extend .menu;
            @extend .dropdown;
        }
    }

}

