.single-layout {

	article {
		z-index: 0;
		.post-preview__content {
			max-width: 970px;
			width: 100%;
			margin: 0 auto;
		}
		header {
			width: 100%;
			max-width: 600px;
			margin-bottom: 15px;
			@include breakpoint(medium){
				padding-top: 50px;
			}
			@include breakpoint(large){
				padding-top: 75px;
			}
			@include breakpoint(xlarge){
				padding-top: 100px;
			}
		}
	}
	.entry-content {
		@include flex-grid-row();
		background-color: $white;
		position: relative;
		max-width: 940px;
		padding: 30px 0 15px;
		/*transition: transform .35s ease-out;*/
		z-index: 1;
		margin-bottom: 75px;
		@include breakpoint(medium){
			padding: 75px 0;
			margin-top: -100px;
		}
		@include breakpoint(large){
			margin-top: -175px;
		}
		@include breakpoint(xlarge){
			margin-top: -250px;
		}
	}

	&__text-editor {
		padding: 0 10px;
		margin-bottom: 20px;
		width: 100%;
		@include breakpoint(medium){
			padding: 0 100px;
		}
		@media only screen and (min-width: 991px) {
			padding: 0 165px;
		}
		h2 {
			@extend %font-h2;
		}
	}

	&__image {
		display: block;
		margin-bottom: 30px;
		width: 100%;
		&--caption {
			margin-bottom: 0;
			img {
				margin-bottom: 10px;
			}
		}
	}
	&__image-caption {
		margin-bottom: 20px;
	}

	&__image-quote {
		@include flex-grid-row();
		margin-bottom: 30px;
		width: 100%;
		@include breakpoint(medium){
			padding: 0 46px;
		}
		h2 {
			@extend %font-pull-quote;
		}
	}

	&__slider {
		max-width: 818px;
		width: 100%;
		margin: 0 auto 50px;
		.slick-next {
			right: 0;
		}
		.flexslider {
			margin: 0;
			border: none;
			border-radius: 0;
			box-shadow: none;
			&:hover {
				.flex-direction-nav {

					.flex-next {
						right: 10px;
					}
					.flex-prev {
						left: 10px;
					}
				}
			}
		}
		.flex-direction-nav {
			a {
				opacity: 1 !important;
				width: 50px;
				height: 50px;
				border-radius: 50%;
				background: rgba(255,255,255,.6);
				text-align: center;
				font-size: 0;
				&:before {
					font-size: 26px;
					line-height: 2;
				}
			}
			.flex-next {
				right: 10px;
				&:before {
					margin-right: -2px;
				}
			}
			.flex-prev {
				left: 10px;
				&:before {
					margin-left: -2px;
				}
			}
		}
	}

	&__video {
		margin-bottom: 30px;
		@include breakpoint(medium){
			padding: 0 61px;
		}
		.mejs-controls {
			display: none;
		}
	}


	.addtoany_shortcode {
		&:before {
			@extend %font-author-meta;
			content:'Share To';
			display: block;
			margin-bottom: 5px;
			@include breakpoint(small only){
				color: $black;
			}
		}
		.addtoany_list {
			@extend .fa;
			span {
				display: none;
			}
			a {
				color: $white;
				transition: color .35s ease-out, border-color .35s ease-out;
				border: 1px solid;
				border-radius: 50%;
				text-align: center;
				display: inline-block;
				margin-right: 11px;
				font-size: rem-calc(10);
				width: 30px;
				line-height: 28px;
				@include breakpoint(small only){
					color: $black;
				}
				@include breakpoint(medium){
					width: 42px;
					line-height: 40px;
					font-size: rem-calc(16);
				}
				&:hover {
					color: $brand-navy;
					border-color: $brand-navy;
				}
			}
		}
		.a2a_button_facebook {
			@extend .fa-facebook;
		}
		.a2a_button_twitter {
			@extend .fa-twitter;
		}
		.a2a_button_pinterest {
			@extend .fa-pinterest;
		}
		.a2a_button_linkedin {
			@extend .fa-linkedin-square;
		}
		.a2a_button_google_plus {
			@extend .fa-google-plus;
		}
	}

	&--author {
		img {
			&.alignleft {
				@include breakpoint(small only){
					margin-right: 15px;
					margin-bottom: 15px;
					float: left;
				}
				@include breakpoint(medium){
					margin-left: -103px;
					max-width: 405px;
				}
			}
		}
	}

}